<aside class="sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <mat-icon>shopping_cart</mat-icon>
      <span class="logo-text">eProcure</span>
    </div>
  </div>

  <nav class="sidebar-nav">
    <a
      *ngFor="let item of navItems"
      [routerLink]="item.route"
      routerLinkActive="active"
      [matTooltip]="item.tooltip"
      matTooltipPosition="right"
      class="nav-item">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span class="nav-label">{{ item.label }}</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <div class="user-profile">
      <div class="user-avatar">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="user-info">
        <div class="user-name">Admin User</div>
        <div class="user-role">Administrator</div>
      </div>
    </div>
  </div>
</aside>
